.movie-card {
<<<<<<< HEAD
  width: 180px;
=======
  width: 200px;
>>>>>>> 7b88681 (Implemented My Movie Cards feature: list, search, and remove)
  text-align: center;
}

.movie-card img {
  width: 100%;
<<<<<<< HEAD
  border-radius: 8px;
}

.movie-card figcaption {
  margin-top: 0.5rem;
  font-weight: 600;
=======
}

.remove-btn {
  margin-top: 8px;
  padding: 5px;
  cursor: pointer;
>>>>>>> 7b88681 (Implemented My Movie Cards feature: list, search, and remove)
}
