nav {
    display: flex;
    width: 100vw;
    height: auto;
    box-sizing: border-box;

    padding: 0.0;
    margin: 0;
    margin-bottom: 15px;

    flex-direction: row;
    justify-content: space-between;
}

nav a {
    padding: 15px;
    color: white;
    margin: 0;
}

nav a:hover {
    color: #155;
    background-color: #f2c302;
}
