.movie-list {
    display: flex;
    flex-wrap: wrap;          
    gap: 2px;                 
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.movie-list figure {
    flex: 0 0 auto;           
    width: 350px;            
    margin: 0;
    padding: 0;
}

.movie-list figure img {
    width: 100%;             
    height: auto;             
    display: block;
}
