.movie-list {
    display: flex;
    flex-wrap: wrap;          
    gap: 20px;                 
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.movie-list figure {
    flex: 0 0 auto;           
    width: 350px;            
    margin: 0;
    padding: 2px;           
    border: 1px solid #ccc;   
    border-radius: 8px;
    display: flex;
    flex-direction: column;    
    align-items: center;       
}

.movie-list figure img {
    width: 100%;              
    height: auto;             
    display: block;
    border-radius: 5px;
}

.movie-list figure figcaption {
    margin-top: 10px;         
    font-weight: bold;
    text-align: center;
}

.movie-list figure button {
    display: block;       
    background-color: white;
}
