.movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 100%;
    margin-top: 25px;
}

.movie-list figure {
    display: block;
    width: 24%;
    box-sizing: border-box;
    padding: 5px;
}

.movie-list figure img {
    width: 100%;
}
